@import 'mixins/general'
@import 'mixins/breakpoints'

@import 'includes/var'
@import 'includes/flexgridcombo.css'
@import 'includes/reset'
@import 'includes/base'
@import 'includes/fonts'

@import 'components/button'
@import 'components/home'
@import 'components/header'
@import 'components/footer'
@import 'components/popup'
