.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex.flex--unwrap {
  flex-wrap: unset;
}
.flex .col-1 {
  flex-basis: 8.333333333333334%;
  max-width: 8.333333333333334%;
}
.flex .offset-0 {
  margin-left: 0%;
}
.flex .col-2 {
  flex-basis: 16.666666666666668%;
  max-width: 16.666666666666668%;
}
.flex .offset-1 {
  margin-left: 8.333333333333334%;
}
.flex .col-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.flex .offset-2 {
  margin-left: 16.666666666666668%;
}
.flex .col-4 {
  flex-basis: 33.333333333333336%;
  max-width: 33.333333333333336%;
}
.flex .offset-3 {
  margin-left: 25%;
}
.flex .col-5 {
  flex-basis: 41.66666666666667%;
  max-width: 41.66666666666667%;
}
.flex .offset-4 {
  margin-left: 33.333333333333336%;
}
.flex .col-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.flex .offset-5 {
  margin-left: 41.66666666666667%;
}
.flex .col-7 {
  flex-basis: 58.333333333333336%;
  max-width: 58.333333333333336%;
}
.flex .offset-6 {
  margin-left: 50%;
}
.flex .col-8 {
  flex-basis: 66.66666666666667%;
  max-width: 66.66666666666667%;
}
.flex .offset-7 {
  margin-left: 58.333333333333336%;
}
.flex .col-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.flex .offset-8 {
  margin-left: 66.66666666666667%;
}
.flex .col-10 {
  flex-basis: 83.33333333333334%;
  max-width: 83.33333333333334%;
}
.flex .offset-9 {
  margin-left: 75%;
}
.flex .col-11 {
  flex-basis: 91.66666666666667%;
  max-width: 91.66666666666667%;
}
.flex .offset-10 {
  margin-left: 83.33333333333334%;
}
.flex .col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.flex .offset-11 {
  margin-left: 91.66666666666667%;
}
@media (min-width: 576px) {
  .flex .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex .col-sm-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .flex .offset-sm-0 {
    margin-left: 0%;
  }
  .flex .col-sm-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .flex .offset-sm-1 {
    margin-left: 8.333333333333334%;
  }
  .flex .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex .offset-sm-2 {
    margin-left: 16.666666666666668%;
  }
  .flex .col-sm-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .flex .offset-sm-3 {
    margin-left: 25%;
  }
  .flex .col-sm-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .flex .offset-sm-4 {
    margin-left: 33.333333333333336%;
  }
  .flex .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex .offset-sm-5 {
    margin-left: 41.66666666666667%;
  }
  .flex .col-sm-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .flex .offset-sm-6 {
    margin-left: 50%;
  }
  .flex .col-sm-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .flex .offset-sm-7 {
    margin-left: 58.333333333333336%;
  }
  .flex .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex .offset-sm-8 {
    margin-left: 66.66666666666667%;
  }
  .flex .col-sm-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .flex .offset-sm-9 {
    margin-left: 75%;
  }
  .flex .col-sm-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .flex .offset-sm-10 {
    margin-left: 83.33333333333334%;
  }
  .flex .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex .offset-sm-11 {
    margin-left: 91.66666666666667%;
  }
}
@media (min-width: 768px) {
  .flex .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex .col-md-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .flex .offset-md-0 {
    margin-left: 0%;
  }
  .flex .col-md-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .flex .offset-md-1 {
    margin-left: 8.333333333333334%;
  }
  .flex .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex .offset-md-2 {
    margin-left: 16.666666666666668%;
  }
  .flex .col-md-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .flex .offset-md-3 {
    margin-left: 25%;
  }
  .flex .col-md-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .flex .offset-md-4 {
    margin-left: 33.333333333333336%;
  }
  .flex .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex .offset-md-5 {
    margin-left: 41.66666666666667%;
  }
  .flex .col-md-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .flex .offset-md-6 {
    margin-left: 50%;
  }
  .flex .col-md-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .flex .offset-md-7 {
    margin-left: 58.333333333333336%;
  }
  .flex .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex .offset-md-8 {
    margin-left: 66.66666666666667%;
  }
  .flex .col-md-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .flex .offset-md-9 {
    margin-left: 75%;
  }
  .flex .col-md-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .flex .offset-md-10 {
    margin-left: 83.33333333333334%;
  }
  .flex .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex .offset-md-11 {
    margin-left: 91.66666666666667%;
  }
}
@media (min-width: 992px) {
  .flex .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex .col-lg-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .flex .offset-lg-0 {
    margin-left: 0%;
  }
  .flex .col-lg-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .flex .offset-lg-1 {
    margin-left: 8.333333333333334%;
  }
  .flex .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex .offset-lg-2 {
    margin-left: 16.666666666666668%;
  }
  .flex .col-lg-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .flex .offset-lg-3 {
    margin-left: 25%;
  }
  .flex .col-lg-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .flex .offset-lg-4 {
    margin-left: 33.333333333333336%;
  }
  .flex .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex .offset-lg-5 {
    margin-left: 41.66666666666667%;
  }
  .flex .col-lg-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .flex .offset-lg-6 {
    margin-left: 50%;
  }
  .flex .col-lg-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .flex .offset-lg-7 {
    margin-left: 58.333333333333336%;
  }
  .flex .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex .offset-lg-8 {
    margin-left: 66.66666666666667%;
  }
  .flex .col-lg-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .flex .offset-lg-9 {
    margin-left: 75%;
  }
  .flex .col-lg-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .flex .offset-lg-10 {
    margin-left: 83.33333333333334%;
  }
  .flex .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex .offset-lg-11 {
    margin-left: 91.66666666666667%;
  }
}
@media (min-width: 1200px) {
  .flex .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex .col-xl-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .flex .offset-xl-0 {
    margin-left: 0%;
  }
  .flex .col-xl-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .flex .offset-xl-1 {
    margin-left: 8.333333333333334%;
  }
  .flex .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex .offset-xl-2 {
    margin-left: 16.666666666666668%;
  }
  .flex .col-xl-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .flex .offset-xl-3 {
    margin-left: 25%;
  }
  .flex .col-xl-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .flex .offset-xl-4 {
    margin-left: 33.333333333333336%;
  }
  .flex .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex .offset-xl-5 {
    margin-left: 41.66666666666667%;
  }
  .flex .col-xl-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .flex .offset-xl-6 {
    margin-left: 50%;
  }
  .flex .col-xl-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .flex .offset-xl-7 {
    margin-left: 58.333333333333336%;
  }
  .flex .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex .offset-xl-8 {
    margin-left: 66.66666666666667%;
  }
  .flex .col-xl-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .flex .offset-xl-9 {
    margin-left: 75%;
  }
  .flex .col-xl-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .flex .offset-xl-10 {
    margin-left: 83.33333333333334%;
  }
  .flex .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex .offset-xl-11 {
    margin-left: 91.66666666666667%;
  }
}
.justify-left {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: flex-end;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-unset {
  justify-content: unset;
}
.align-top {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-bottom {
  align-items: flex-end;
}
.align-unset {
  align-items: unset;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .justify-left-sm {
    justify-content: flex-start;
  }
  .justify-center-sm {
    justify-content: center;
  }
  .justify-right-sm {
    justify-content: flex-end;
  }
  .justify-evenly-sm {
    justify-content: space-evenly;
  }
  .justify-between-sm {
    justify-content: space-between;
  }
  .justify-around-sm {
    justify-content: space-around;
  }
  .justify-unset-sm {
    justify-content: unset;
  }
  .align-top-sm {
    align-items: flex-start;
  }
  .align-center-sm {
    align-items: center;
  }
  .align-bottom-sm {
    align-items: flex-end;
  }
  .align-unset-sm {
    align-items: unset;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .justify-left-md {
    justify-content: flex-start;
  }
  .justify-center-md {
    justify-content: center;
  }
  .justify-right-md {
    justify-content: flex-end;
  }
  .justify-evenly-md {
    justify-content: space-evenly;
  }
  .justify-between-md {
    justify-content: space-between;
  }
  .justify-around-md {
    justify-content: space-around;
  }
  .justify-unset-md {
    justify-content: unset;
  }
  .align-top-md {
    align-items: flex-start;
  }
  .align-center-md {
    align-items: center;
  }
  .align-bottom-md {
    align-items: flex-end;
  }
  .align-unset-md {
    align-items: unset;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .justify-left-lg {
    justify-content: flex-start;
  }
  .justify-center-lg {
    justify-content: center;
  }
  .justify-right-lg {
    justify-content: flex-end;
  }
  .justify-evenly-lg {
    justify-content: space-evenly;
  }
  .justify-between-lg {
    justify-content: space-between;
  }
  .justify-around-lg {
    justify-content: space-around;
  }
  .justify-unset-lg {
    justify-content: unset;
  }
  .align-top-lg {
    align-items: flex-start;
  }
  .align-center-lg {
    align-items: center;
  }
  .align-bottom-lg {
    align-items: flex-end;
  }
  .align-unset-lg {
    align-items: unset;
  }
}
@media (min-width: 1200px) {
  .justify-left-xl {
    justify-content: flex-start;
  }
  .justify-center-xl {
    justify-content: center;
  }
  .justify-right-xl {
    justify-content: flex-end;
  }
  .justify-evenly-xl {
    justify-content: space-evenly;
  }
  .justify-between-xl {
    justify-content: space-between;
  }
  .justify-around-xl {
    justify-content: space-around;
  }
  .justify-unset-xl {
    justify-content: unset;
  }
  .align-top-xl {
    align-items: flex-start;
  }
  .align-center-xl {
    align-items: center;
  }
  .align-bottom-xl {
    align-items: flex-end;
  }
  .align-unset-xl {
    align-items: unset;
  }
}

*{margin:0;padding:0}ul{list-style:none}@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
html{font-size:18px;}@media (max-width:767.98px){html{font-size:16px}}body{font-family:'Lato',sans-serif;font-weight:400;background:#fff8f4;color:#2f4b6e}h1{font-size:42px;margin-bottom:20px;font-weight:400;}@media (max-width:767.98px){h1{font-size:30px}}h2{font-size:35px;font-weight:400;margin-bottom:20px;line-height:1.25;}@media (max-width:767.98px){h2{font-size:24px}}h3{font-size:30px;margin-bottom:20px;font-weight:400;}@media (max-width:767.98px){h3{font-size:20px}}h4{font-size:24px;}@media (max-width:767.98px){h4{font-size:18px}}h5{font-size:17px;font-weight:300;}@media (max-width:767.98px){h5{font-size:16px}}h6{font-size:15px;font-weight:300}p{font-weight:300;line-height:1.5;}p + p{margin-top:10px}p + form{margin-top:20px}p.size-big{font-size:20px;}@media (max-width:767.98px){p.size-big{font-size:18px}}p .link{color:#00f;text-decoration:underline}a{text-decoration:none}.flex > div{box-sizing:border-box}.bold{font-weight:700 !important}.link{text-decoration:underline;color:#00f;cursor:pointer}@media (max-width:767.98px){.container{padding:0 30px}}@media (max-width:575.98px){.container{padding:0 20px}}.anim-item{opacity:0}input:not([type="checkbox"]){padding:10px 20px 13px;-webkit-appearance:none;-moz-appearance:none;border:none;font-size:16px;font-family:lato;border:1px solid #ddd;border-radius:30px;transition:.3s all ease;color:#2f4b6e;}input:not([type="checkbox"]):focus{border-color:#f88787}input[type="submit"]{background:#f88787;color:#fff;border-color:#f88787;cursor:pointer;}input[type="submit"]:hover{background:#f66363;border-color:#f66363}input:focus{outline:none}@font-face{font-family:'icomoon';src:url("fonts/icomoon.eot?7hfecy");src:url("fonts/icomoon.eot?7hfecy#iefix") format('embedded-opentype'),url("fonts/icomoon.ttf?7hfecy") format('truetype'),url("fonts/icomoon.woff?7hfecy") format('woff'),url("fonts/icomoon.svg?7hfecy#icomoon") format('svg');font-weight:normal;font-style:normal}[class^="icon-"],[class*=" icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-facebook:before{content:"\ea90"}.icon-instagram:before{content:"\ea92"}.icon-telegram:before{content:"\ea95"}.icon-twitter:before{content:"\ea96"}.button-wrapper{margin-top:30px}.btn{font-size:14px;padding:10px 30px 13px;display:inline-block;border-radius:30px;text-transform:uppercase;letter-spacing:.78px;box-sizing:border-box;cursor:pointer;}.btn + h6{margin-top:10px}.btn--big{padding:15px 40px 17px}.btn--default{background:#f88787;color:#fff;transition:.3s background ease;}.btn--default:hover{background:#f66363}.btn--silver{background:#f4fcff;border:2px solid #d0dceb;color:#2f4b6e}.btn--ghost{color:#2f4b6e;padding-left:0;padding-right:0}section.w-pd{padding:100px 0;}@media (max-width:991.98px){section.w-pd{padding:75px 0}}@media (max-width:767.98px){section.w-pd{padding:50px 0}}#hero{position:relative;box-sizing:border-box;}@media (min-width:992px){#hero{min-height:100vh}}@media (max-width:991.98px){#hero{margin-top:80px}}@media (max-width:767.98px){#hero{margin-top:40px}}#hero .hero-img{box-sizing:border-box;position:relative;overflow:hidden;}@media (max-width:767.98px){#hero .hero-img{margin-top:30px}}#hero .hero-img img{display:block}#hero .hero-img .clouds-wrapper{margin-bottom:10px;position:relative}#hero .hero-img .clouds{width:100%;margin:auto;padding:0 10%;box-sizing:border-box}#hero .hero-img .clouds-2{position:absolute;top:0;left:100%}#hero .hero-img .man{width:80%;position:relative;z-index:1}#hero .hero-img .ground-wrapper{border-bottom:1px solid #003d6b}#hero .hero-img .ground{position:absolute;bottom:0;left:0;width:100%}#hero .hero-img .ground-2{left:100%}#banner .container{padding-top:40px;padding-bottom:40px;border-bottom:1px solid #e1e8f2;}@media (max-width:991.98px){#banner .container{padding-bottom:30px}}#banner .content img{margin-right:20px}#banner .btn{margin:15px 0;}@media (max-width:767.98px){#banner .btn{margin:15px auto}}#subscribe{background:linear-gradient(to bottom,#fff8f4,#faede8);border-bottom-right-radius:150px;text-align:center;}@media (max-width:767.98px){#subscribe{border-bottom-right-radius:75px}}#subscribe .subscribe-features{margin-top:50px;}#subscribe .subscribe-features .feature-item{padding:10px;}@media (max-width:767.98px){#subscribe .subscribe-features .feature-item:not(:last-child){margin-bottom:20px}}#subscribe .subscribe-features .feature-item img{height:100px;margin-bottom:10px}@media (max-width:991.98px){#subscribe .subscribe-features .feature-item img{height:70px}}#features{padding-top:50px;}@media (min-width:768px) and (max-width:991.98px){#features .feature-content{padding:80px 0}}@media (max-width:767.98px){#features .feature-img{margin:30px auto 50px}}#features .feature-img img{display:block;width:100%}@media (max-width:767.98px){#features .feature-item:nth-child(odd) .feature-img{order:1}}#signup{text-align:center;background:#faede8;position:relative;border-top-left-radius:150px;}@media (max-width:767.98px){#signup{border-top-left-radius:75px}}#signup .pattern{position:absolute;top:0;right:0;width:30%}#single{margin:60px 0 100px;}#single .title{margin-bottom:40px}@media (max-width:991.98px){#single{margin-bottom:80px}}@media (max-width:767.98px){#single{margin:30px 0 60px}#single .title{margin-bottom:30px}}article hr{position:relative;margin:50px 0;display:block;border-color:#fff;}article hr:before{content:'';position:absolute;top:0;width:50%;left:50%;transform:translateX(-50%);height:1px;background:#eee}article p img{max-width:100%;display:block;margin:50px auto}article blockquote{position:relative;padding:20px 50px;}article blockquote p:last-child,article blockquote ol:last-child,article blockquote ul:last-child{margin-bottom:0}@media (max-width:767.98px){article blockquote{padding:20px}}article blockquote p{font-size:22px;font-style:italic;font-weight:300}article ul li,article ol li{position:relative;padding-left:20px;}article ul li:not(:last-child),article ol li:not(:last-child){margin-bottom:5px}article ul li:before{content:'';width:5px;height:5px;display:block;display:block;position:absolute;top:11px;left:0;background:rgba(0,0,0,0.75);border-radius:50%}article ol{counter-reset:number;}article ol li{counter-increment:number;}article ol li:before{content:counter(number) '.';position:absolute;left:0}article h2,article h3,article h4{margin-bottom:30px}article h2:not(:first-child),article h3:not(:first-child),article h4:not(:first-child){margin-top:50px}article p:not(:last-child),article ul:not(:last-child),article ol:not(:last-child),article blockquote:not(:last-child),article h5:not(:last-child){margin-bottom:30px;}@media (max-width:767.98px){article p:not(:last-child),article ul:not(:last-child),article ol:not(:last-child),article blockquote:not(:last-child),article h5:not(:last-child){margin-bottom:20px}}article .mt-small{margin-top:20px !important}article pre{background:#c0c0c0;padding:20px}header{padding:20px 0;position:fixed;left:0;right:0;z-index:9;-webkit-backface-visibility:hidden;transition:.3s top ease;top:0;}@media (min-width:768px){header{top:15px}}header:before{content:'';position:absolute;top:-15px;left:0;right:0;bottom:0;pointer-events:none;z-index:-1;opacity:0;transition:.3s all ease;background:#fff8f4;box-shadow:0 5px 10px 0 rgba(0,0,0,0.05)}@media (max-width:767.98px){header.show-mobile-menu:before{opacity:1}header.show-mobile-menu .nav{display:block}header.show-mobile-menu .bar--top{transform:translateY(0) translateX(-4px) rotate(-45deg)}header.show-mobile-menu .bar--middle{transform:translateX(-10px);opacity:0}header.show-mobile-menu .bar--bottom{transform:translateY(0) translateX(-4px) rotate(45deg)}}header.show-bg{top:0;}header.show-bg:before{opacity:1}header .logo{position:relative;transform:translateY(-15%);}header .logo img{height:30px;display:block}header .nav{margin-left:auto;}@media (max-width:767.98px){header .nav{order:3;width:100%;flex-direction:column;margin-top:20px;padding-top:10px;border-top:1px solid #e1e8f2;display:none}}@media (min-width:768px){header .nav li:not(:last-child){margin-right:20px}}header + section{padding-top:60px}header + #alt-hero{margin-top:60px}.burger-menu{width:23px;height:18px;cursor:pointer;position:relative;margin-left:auto;}@media (min-width:768px){.burger-menu{display:none}}.burger-menu .bar{width:100%;height:2px;background:#2f4b6e;position:absolute;transition:.3s all ease;}.burger-menu .bar--top{transform-origin:right top;top:0}.burger-menu .bar--middle{top:50%;margin-top:-1px}.burger-menu .bar--bottom{transform-origin:right bottom;bottom:0}.burger-menu.is-active .bar--top{transform:translateY(0) translateX(-4px) rotate(-45deg)}.burger-menu.is-active .bar--middle{transform:translateX(-10px);opacity:0}.burger-menu.is-active .bar--bottom{transform:translateY(0) translateX(-4px) rotate(45deg)}footer{padding:65px 0;position:relative;text-align:center;background:#e6f8ff;}@media (max-width:767.98px){footer{padding:30px 15px}}footer .footer-nav li,footer .footer-nav a{font-size:16px;font-weight:300;transition:.3s color ease;color:#2f4b6e}footer .footer-nav a:hover{text-decoration:underline}footer .footer-nav li{margin:4px 0}footer .footer-nav li:first-child:after{content:'|';margin:0 8px}footer .footer-nav li:last-child:before{content:'-';margin:0 8px}footer .social-links{margin-bottom:15px;}footer .social-links li{margin:4px}footer .social-links a{color:#738091;font-size:20px;border:2px solid #d0dceb;padding:10px;border-radius:50%;display:inline-block}#popup{position:fixed;top:0;left:0;width:100%;height:100%;z-index:12;transition:.3s background ease;}#popup:not(.is-active){pointer-events:none}#popup .close-popup-trigger{width:20px;height:20px;display:block;position:absolute;top:50px;right:50px;cursor:pointer;opacity:0;transition:.3s all ease;}#popup .close-popup-trigger:hover svg{transform:rotate(180deg);transition:.3s all ease}#popup .close-popup-trigger path{fill:#2f4b6e}#popup .popup{height:0;overflow:hidden;}#popup .popup .content{width:400px}#popup .popup .container{height:100vh}#popup .viral-loops .content{min-height:30px;background:url("img/loader.gif") no-repeat center center/30px;}#popup .viral-loops .content > div{background:#fff8f4}#popup .mailchimp{text-align:center;}#popup .mailchimp form{margin-left:auto;margin-right:auto}#popup .mailchimp [type="email"]{width:100%;margin-right:10px}#popup .mailchimp [type="submit"]{width:150px}#popup .anim-item{transform:translateY(15px);transition:.3s opacity ease,.3s transform ease}#popup.is-active{background:#fff8f4;}#popup.is-active .close-popup-trigger{opacity:1}#popup.is-active .anim-item{opacity:1;transform:none;}#popup.is-active .anim-item:nth-child(1){transition-delay:.1s}#popup.is-active .anim-item:nth-child(2){transition-delay:.2s}#popup.is-active .anim-item:nth-child(3){transition-delay:.30000000000000004s}#popup.is-active.mailchimp .mailchimp{height:auto}#popup.is-active.viral-loops .viral-loops{height:auto}/*# sourceMappingURL=style.css.map */