.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex.flex--unwrap {
  flex-wrap: unset;
}
.flex .col-1 {
  flex-basis: 8.333333333333334%;
  max-width: 8.333333333333334%;
}
.flex .offset-0 {
  margin-left: 0%;
}
.flex .col-2 {
  flex-basis: 16.666666666666668%;
  max-width: 16.666666666666668%;
}
.flex .offset-1 {
  margin-left: 8.333333333333334%;
}
.flex .col-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.flex .offset-2 {
  margin-left: 16.666666666666668%;
}
.flex .col-4 {
  flex-basis: 33.333333333333336%;
  max-width: 33.333333333333336%;
}
.flex .offset-3 {
  margin-left: 25%;
}
.flex .col-5 {
  flex-basis: 41.66666666666667%;
  max-width: 41.66666666666667%;
}
.flex .offset-4 {
  margin-left: 33.333333333333336%;
}
.flex .col-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.flex .offset-5 {
  margin-left: 41.66666666666667%;
}
.flex .col-7 {
  flex-basis: 58.333333333333336%;
  max-width: 58.333333333333336%;
}
.flex .offset-6 {
  margin-left: 50%;
}
.flex .col-8 {
  flex-basis: 66.66666666666667%;
  max-width: 66.66666666666667%;
}
.flex .offset-7 {
  margin-left: 58.333333333333336%;
}
.flex .col-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.flex .offset-8 {
  margin-left: 66.66666666666667%;
}
.flex .col-10 {
  flex-basis: 83.33333333333334%;
  max-width: 83.33333333333334%;
}
.flex .offset-9 {
  margin-left: 75%;
}
.flex .col-11 {
  flex-basis: 91.66666666666667%;
  max-width: 91.66666666666667%;
}
.flex .offset-10 {
  margin-left: 83.33333333333334%;
}
.flex .col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.flex .offset-11 {
  margin-left: 91.66666666666667%;
}
@media (min-width: 576px) {
  .flex .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex .col-sm-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .flex .offset-sm-0 {
    margin-left: 0%;
  }
  .flex .col-sm-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .flex .offset-sm-1 {
    margin-left: 8.333333333333334%;
  }
  .flex .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex .offset-sm-2 {
    margin-left: 16.666666666666668%;
  }
  .flex .col-sm-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .flex .offset-sm-3 {
    margin-left: 25%;
  }
  .flex .col-sm-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .flex .offset-sm-4 {
    margin-left: 33.333333333333336%;
  }
  .flex .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex .offset-sm-5 {
    margin-left: 41.66666666666667%;
  }
  .flex .col-sm-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .flex .offset-sm-6 {
    margin-left: 50%;
  }
  .flex .col-sm-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .flex .offset-sm-7 {
    margin-left: 58.333333333333336%;
  }
  .flex .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex .offset-sm-8 {
    margin-left: 66.66666666666667%;
  }
  .flex .col-sm-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .flex .offset-sm-9 {
    margin-left: 75%;
  }
  .flex .col-sm-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .flex .offset-sm-10 {
    margin-left: 83.33333333333334%;
  }
  .flex .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex .offset-sm-11 {
    margin-left: 91.66666666666667%;
  }
}
@media (min-width: 768px) {
  .flex .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex .col-md-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .flex .offset-md-0 {
    margin-left: 0%;
  }
  .flex .col-md-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .flex .offset-md-1 {
    margin-left: 8.333333333333334%;
  }
  .flex .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex .offset-md-2 {
    margin-left: 16.666666666666668%;
  }
  .flex .col-md-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .flex .offset-md-3 {
    margin-left: 25%;
  }
  .flex .col-md-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .flex .offset-md-4 {
    margin-left: 33.333333333333336%;
  }
  .flex .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex .offset-md-5 {
    margin-left: 41.66666666666667%;
  }
  .flex .col-md-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .flex .offset-md-6 {
    margin-left: 50%;
  }
  .flex .col-md-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .flex .offset-md-7 {
    margin-left: 58.333333333333336%;
  }
  .flex .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex .offset-md-8 {
    margin-left: 66.66666666666667%;
  }
  .flex .col-md-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .flex .offset-md-9 {
    margin-left: 75%;
  }
  .flex .col-md-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .flex .offset-md-10 {
    margin-left: 83.33333333333334%;
  }
  .flex .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex .offset-md-11 {
    margin-left: 91.66666666666667%;
  }
}
@media (min-width: 992px) {
  .flex .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex .col-lg-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .flex .offset-lg-0 {
    margin-left: 0%;
  }
  .flex .col-lg-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .flex .offset-lg-1 {
    margin-left: 8.333333333333334%;
  }
  .flex .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex .offset-lg-2 {
    margin-left: 16.666666666666668%;
  }
  .flex .col-lg-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .flex .offset-lg-3 {
    margin-left: 25%;
  }
  .flex .col-lg-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .flex .offset-lg-4 {
    margin-left: 33.333333333333336%;
  }
  .flex .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex .offset-lg-5 {
    margin-left: 41.66666666666667%;
  }
  .flex .col-lg-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .flex .offset-lg-6 {
    margin-left: 50%;
  }
  .flex .col-lg-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .flex .offset-lg-7 {
    margin-left: 58.333333333333336%;
  }
  .flex .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex .offset-lg-8 {
    margin-left: 66.66666666666667%;
  }
  .flex .col-lg-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .flex .offset-lg-9 {
    margin-left: 75%;
  }
  .flex .col-lg-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .flex .offset-lg-10 {
    margin-left: 83.33333333333334%;
  }
  .flex .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex .offset-lg-11 {
    margin-left: 91.66666666666667%;
  }
}
@media (min-width: 1200px) {
  .flex .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex .col-xl-1 {
    flex-basis: 8.333333333333334%;
    max-width: 8.333333333333334%;
  }
  .flex .offset-xl-0 {
    margin-left: 0%;
  }
  .flex .col-xl-2 {
    flex-basis: 16.666666666666668%;
    max-width: 16.666666666666668%;
  }
  .flex .offset-xl-1 {
    margin-left: 8.333333333333334%;
  }
  .flex .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .flex .offset-xl-2 {
    margin-left: 16.666666666666668%;
  }
  .flex .col-xl-4 {
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
  }
  .flex .offset-xl-3 {
    margin-left: 25%;
  }
  .flex .col-xl-5 {
    flex-basis: 41.66666666666667%;
    max-width: 41.66666666666667%;
  }
  .flex .offset-xl-4 {
    margin-left: 33.333333333333336%;
  }
  .flex .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex .offset-xl-5 {
    margin-left: 41.66666666666667%;
  }
  .flex .col-xl-7 {
    flex-basis: 58.333333333333336%;
    max-width: 58.333333333333336%;
  }
  .flex .offset-xl-6 {
    margin-left: 50%;
  }
  .flex .col-xl-8 {
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
  }
  .flex .offset-xl-7 {
    margin-left: 58.333333333333336%;
  }
  .flex .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .flex .offset-xl-8 {
    margin-left: 66.66666666666667%;
  }
  .flex .col-xl-10 {
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333333334%;
  }
  .flex .offset-xl-9 {
    margin-left: 75%;
  }
  .flex .col-xl-11 {
    flex-basis: 91.66666666666667%;
    max-width: 91.66666666666667%;
  }
  .flex .offset-xl-10 {
    margin-left: 83.33333333333334%;
  }
  .flex .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex .offset-xl-11 {
    margin-left: 91.66666666666667%;
  }
}
.justify-left {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: flex-end;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-unset {
  justify-content: unset;
}
.align-top {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-bottom {
  align-items: flex-end;
}
.align-unset {
  align-items: unset;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .justify-left-sm {
    justify-content: flex-start;
  }
  .justify-center-sm {
    justify-content: center;
  }
  .justify-right-sm {
    justify-content: flex-end;
  }
  .justify-evenly-sm {
    justify-content: space-evenly;
  }
  .justify-between-sm {
    justify-content: space-between;
  }
  .justify-around-sm {
    justify-content: space-around;
  }
  .justify-unset-sm {
    justify-content: unset;
  }
  .align-top-sm {
    align-items: flex-start;
  }
  .align-center-sm {
    align-items: center;
  }
  .align-bottom-sm {
    align-items: flex-end;
  }
  .align-unset-sm {
    align-items: unset;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .justify-left-md {
    justify-content: flex-start;
  }
  .justify-center-md {
    justify-content: center;
  }
  .justify-right-md {
    justify-content: flex-end;
  }
  .justify-evenly-md {
    justify-content: space-evenly;
  }
  .justify-between-md {
    justify-content: space-between;
  }
  .justify-around-md {
    justify-content: space-around;
  }
  .justify-unset-md {
    justify-content: unset;
  }
  .align-top-md {
    align-items: flex-start;
  }
  .align-center-md {
    align-items: center;
  }
  .align-bottom-md {
    align-items: flex-end;
  }
  .align-unset-md {
    align-items: unset;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .justify-left-lg {
    justify-content: flex-start;
  }
  .justify-center-lg {
    justify-content: center;
  }
  .justify-right-lg {
    justify-content: flex-end;
  }
  .justify-evenly-lg {
    justify-content: space-evenly;
  }
  .justify-between-lg {
    justify-content: space-between;
  }
  .justify-around-lg {
    justify-content: space-around;
  }
  .justify-unset-lg {
    justify-content: unset;
  }
  .align-top-lg {
    align-items: flex-start;
  }
  .align-center-lg {
    align-items: center;
  }
  .align-bottom-lg {
    align-items: flex-end;
  }
  .align-unset-lg {
    align-items: unset;
  }
}
@media (min-width: 1200px) {
  .justify-left-xl {
    justify-content: flex-start;
  }
  .justify-center-xl {
    justify-content: center;
  }
  .justify-right-xl {
    justify-content: flex-end;
  }
  .justify-evenly-xl {
    justify-content: space-evenly;
  }
  .justify-between-xl {
    justify-content: space-between;
  }
  .justify-around-xl {
    justify-content: space-around;
  }
  .justify-unset-xl {
    justify-content: unset;
  }
  .align-top-xl {
    align-items: flex-start;
  }
  .align-center-xl {
    align-items: center;
  }
  .align-bottom-xl {
    align-items: flex-end;
  }
  .align-unset-xl {
    align-items: unset;
  }
}
