include ../mixins/header
include ../mixins/footer

- VL = 'https://pages.viral-loops.com/Sharebloom-Prelaunch-ik6lCZuy'

block var

<!DOCTYPE html>
html
	head
		title #{title}
		link(rel="stylesheet" href="style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="icon" type="image/png" sizes="16x16" href="img/favicon.png")

	body
		//- #popup
		//- 	.close-popup-trigger
		//- 		svg(height='100%', viewBox='0 0 14 14', width='100%', xmlns='http://www.w3.org/2000/svg')
		//- 			path(d='M14 1.4L12.6 0 7 5.6 1.4 0 0 1.4 5.6 7 0 12.6 1.4 14 7 8.4l5.6 5.6 1.4-1.4L8.4 7 14 1.4z')
		//- 	.popup.viral-loops.flex.justify-center
		//- 		+container('flex justify-center align-center')
		//- 			.content.anim-item
		//- 				<div data-vl-widget="embedForm"></div>
		//- 	.popup.mailchimp.flex.justify-center
		//- 		+container('flex justify-center align-center')
		//- 			.content
		//- 				h3.anim-item Subscribe
		//- 				p.anim-item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
		//- 				form.flex.flex--unwrap.anim-item
		//- 					input(type="email" placeholder="Email Address" required)
		//- 					input(type="submit" value="Send")

		// header
		+header()

		//- content
		block content

		// footer
		+footer()

		// crisp script
		<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="d6322624-d956-40c4-a750-2bb2863ba2e5";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>

		// script
		block script
