.button-wrapper
	margin-top 30px

.btn
	font-size 14px
	padding 10px 30px 13px
	display inline-block
	border-radius 30px
	text-transform uppercase
	letter-spacing .78px
	box-sizing border-box
	+ h6
		margin-top 10px

.btn--big
	padding 15px 40px 17px

.btn--default
	background pink
	color #fff
	transition .3s background ease
	&:hover
		background darken(pink, 10%)

&.btn--silver
	background #F4FCFF
	border 2px solid #D0DCEB
	color black

.btn--ghost
	color black
	padding-left 0
	padding-right 0
