footer
	padding 65px 0
	position relative
	text-align center
	background aqua
	+below(md)
		padding 50px 0

	.footer-nav

		li, a
			font-size 16px
			font-weight 300
			transition .3s color ease
			color black
		a:hover
			text-decoration underline

		li
			margin 4px 0

		li:first-child
			&:after
				content '|'
				margin 0 8px

		li:last-child
			&:before
				content '-'
				margin 0 8px

	.social-links
		margin-bottom 15px
		li
			margin 4px	
		a
			color #738091
			font-size 20px
			border 2px solid #D0DCEB
			padding 10px
			border-radius 50%
			display inline-block
