header
	padding 20px 0
	position fixed
	left 0
	right 0
	z-index 9
	-webkit-backface-visibility hidden
	transition .3s top ease
	top 0
	+above(md)
		top 15px
	&:before
		content ''
		position absolute
		top -15px
		left 0
		right 0
		bottom 0
		pointer-events none
		z-index -1
		opacity 0
		transition .3s all ease
		background lightpink
		// border-bottom 1px solid #e5e5e5
		box-shadow 0 5px 10px 0 rgba(0,0,0,.05)

	&.show-mobile-menu
		+below(md)
			&:before
				opacity 1
			.nav
				display block
			.bar--top
				transform translateY(0) translateX(-4px) rotate(-45deg)
			.bar--middle
				transform translateX(-10px)
				opacity 0
			.bar--bottom
				transform translateY(0) translateX(-4px) rotate(45deg)

	&.show-bg
		top 0
		&:before
			opacity 1

	.logo
		position relative
		transform translateY(-15%)
		img
			height 30px
			display block

	.nav
		margin-left auto
		+below(md)
			order 3
			width 100%
			flex-direction column
			margin-top 20px
			padding-top 10px
			border-top 1px solid #e1e8f2
			display none
		li
			&:not(:last-child)
				+above(md)
					margin-right 20px

	// section after header
	+ section
		padding-top 60px
	+ #alt-hero
		margin-top 60px

// burger menu
.burger-menu
	w = 23px
	width w
	height 18px
	cursor pointer
	position relative
	margin-left auto

	+above(md)
		display none

	.bar
		width 100%
		height 2px
		background black
		position absolute
		transition .3s all ease
		&--top
			transform-origin right top
			top 0
		&--middle
			top 50%
			margin-top -1px
		&--bottom
			transform-origin right bottom
			bottom 0

	&.is-active
		.bar--top
			transform translateY(0) translateX(-4px) rotate(-45deg)
		.bar--middle
			transform translateX(-10px)
			opacity 0
		.bar--bottom
			transform translateY(0) translateX(-4px) rotate(45deg)

