section.w-pd
	padding 100px 0
	+below(lg)
		padding 75px 0
	+below(md)
		padding 50px 0

// hero
#hero
	position relative
	box-sizing border-box
	+above(lg)
		min-height 100vh
	+below(lg)
		margin-top 80px
	+below(md)
		margin-top 40px

	.hero-img
		box-sizing border-box
		position relative
		overflow hidden
		+below(md)
			margin-top 30px
		img
			display block
		.clouds-wrapper
			margin-bottom 10px
			position relative
		.clouds
			width 100%
			margin auto
			padding 0 10%
			box-sizing border-box
		.clouds-2
			position absolute
			top 0
			left 100%
		.man
			width 80%
			position relative
			z-index 1
		.ground-wrapper
			border-bottom 1px solid #003D6B
		.ground
			position absolute
			bottom 0
			left 0
			width 100%
		.ground-2
			left 100%

// banner
#banner
	.container
		padding-top 40px
		padding-bottom 40px
		border-bottom 1px solid #E1E8F2
		+below(lg)
			padding-bottom 30px
	.content
		img
			margin-right 20px
	.btn
		margin 15px 0
		+below(md)
			margin 15px auto

// subscribe
#subscribe
	background linear-gradient(to bottom, lightpink, lightpink2)
	border-bottom-right-radius sectionRadius
	+below(md)
		border-bottom-right-radius (sectionRadius/2)
	text-align center
	.subscribe-features
		margin-top 50px
		.feature-item
			&:not(:last-child)
				+below(md)
					margin-bottom 20px
			padding 10px
			img
				height 100px
				+below(lg)
					height 70px
				margin-bottom 10px

// features
#features
	padding-top 50px
	.feature-content
		+between(md, lg)
			padding 80px 0
	.feature-img
		+below(md)
			margin 30px auto 50px
		img
			display block
			width 100%

	.feature-item
		&:nth-child(odd)
			+below(md)
				.feature-img
					order 1

// sign up
#signup
	text-align center
	background lightpink2
	position relative
	border-top-left-radius sectionRadius
	+below(md)
		border-top-left-radius (sectionRadius/2)
	.pattern
		position absolute
		top 0
		right 0
		width 30%

// single
#single
	margin 60px 0 100px
	.title
		margin-bottom 40px
	+below(lg)
		margin-bottom 80px
	+below(md)
		margin 30px 0 60px
		.title
			margin-bottom 30px

article

	hr
		position relative
		margin 50px 0
		display block
		border-color #fff
		&:before
			content ''
			position absolute
			top 0
			width 50%
			left 50%
			transform translateX(-50%)
			height 1px
			background #eee

	p img
		max-width 100%
		display block
		margin 50px auto

	blockquote
		position relative
		p, ol, ul
			&:last-child
				margin-bottom 0
		padding 20px 50px
		+below(md)
			padding 20px
		p
			font-size 22px
			font-style italic
			font-weight 300

	ul, ol
		li
			position relative
			padding-left 20px
			&:not(:last-child)
				margin-bottom 5px

	ul li:before
		content ''
		square(5px)
		display block
		position absolute
		top 11px
		left 0
		background rgba(0,0,0,.75)
		border-radius 50%

	ol
		counter-reset number
		li	
			counter-increment number
			&:before
				content counter(number) '.'
				position absolute
				left 0

	h2, h3, h4
		&:not(:first-child)
			margin-top 50px
		margin-bottom 30px

	p, ul, ol, blockquote, h5
		&:not(:last-child)
			margin-bottom 30px
			+below(md)
				margin-bottom 20px

	.mt-small
		margin-top 20px !important

	pre
		background silver
		padding 20px
