mixin footer()
	footer.flex.justify-center
		+container()
			- social = [ 'facebook', 'twitter', 'instagram' ]
			- hrefs = [ 'http://facebook.com/sharebloom', 'http://twitter.com/sharebloom ', 'http://instagram.com/sharebloom ' ]
			ul.social-links.flex.justify-center
				for icon, i in social
					li
						a(href= hrefs[i] class= "icon-" + icon)
			ul.footer-nav.flex.justify-center
				- nav = [ 'Privacy Policy', 'Terms of Use' ]
				- hrefs = [ 'privacy', 'terms' ]
				for item, i in nav
					li
						a(href= hrefs[i] + '.html')= item
				li All Rights Reserved with Fleurn

