mixin header()
	header.flex.justify-center
		+container('flex align-center')
			a.logo(href="index.html") Fleurn.
			ul.nav.flex.align-center
				li
					a.btn.btn--ghost(href="") skip the waiting list
				li
					a.btn.btn--default(href="") Register now
