mixin header()
	header.flex.justify-center
		+container('flex align-center')
			a.logo(href="index.html")
				img(src="img/logo.svg" alt="Sharebloom")
			ul.nav.flex.align-center
				li
					.btn.btn--ghost.open-popup-trigger(data-popup="viral-loops") skip the waiting list
				li
					.btn.btn--default.open-popup-trigger(data-popup="mailchimp") Register now
			.burger-menu
				.bar.bar--top
				.bar.bar--middle
				.bar.bar--bottom
